div{
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: rgb(47, 141, 141);
    margin: 10px auto;
    background-image: url(image.png);
    /* background-size: contain; */
    background-size: cover;
    /* box-shadow: 2px 2px 10px rgb(194, 10, 10); */
}